In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('C:\Code\Pred-Power-Generation\\archive\\14 solar-share-energy.csv')

In [3]:
data.head()

   Entity Code  Year  Solar (% equivalent primary energy)
0  Africa  NaN  1971                                  0.0
1  Africa  NaN  1972                                  0.0
2  Africa  NaN  1973                                  0.0
3  Africa  NaN  1974                                  0.0
4  Africa  NaN  1975                                  0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5442 entries, 0 to 5441
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Entity                               5442 non-null   object
 1   Code                                 4230 non-null   object
 2   Year                                 5442 non-null   int64
 3   Solar (% equivalent primary energy)  5442 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 170.2+ KB

In [6]:
# Entity - Refers to the country or region for which the renewable energy data is
# Code - A three-letter code assigned to each country or region in the dataset.
# Year - The year for which the renewable energy data is reported.
# Renewables (% equivalent primary energy) - This column provides the percentage of equivalent primary energy that is derived from renewable sources for each country